{% autoescape 'js' %}

<script type="text/javascript">
    $('title').text('AdHoc Search - StatusWolf');

    var search_id = false;
    document._session = {};
    document._session.adhoc_username = '{{ username }}';
    document._session.adhoc_userid = '{{ user_id }}';

    {% if search_id %}
        search_id = '{{ search_id }}';
    {% endif %}
    {%  if search_type %}
        search_type = '{{ search_type }}';
    {% endif %}

    var adhoc_widget = eval({{ adhoc_widget_json|raw }});
    var widget_key = '{{ widget_type }}';
    var widget_type = adhoc_widget[widget_key].name.split('.')[1];
    var widget_datasource = '{{ datasource }}';

    $('document').ready(function() {
        if (typeof adhoc_widget[widget_key].dependencies !== "undefined") {
            if (typeof adhoc_widget[widget_key].dependencies.js !== "undefined") {
                $.each(adhoc_widget[widget_key].dependencies.js, function(i, js) {
                    if ($('script[src*=" + js + "]').length === 0) {
                        loadScript(window.location.origin + '/static/js/lib/' + js, function() {
                            if (typeof search_type !== "undefined") {
                                if (typeof search_id !== "undefined") {
                                    $.when(get_search_config(search_type, widget_datasource.toLowerCase(), search_id)).then(
                                        function(data) {
                                            document._session.search_id = search_id;
                                            document._session.search_owner = data.user_id;
                                            display_search(widget_type, data, widget_datasource);
                                        }
                                    )
                                }
                            } else {
                                add_widget(widget_type);
                            }
                        });
                    }
                });
            }
        }
    });

    function add_widget(widget_type) {
        var widget_id = 'widget' + md5(document._session.adhoc_username);
        var widget;

        $('#adhoc-container').append('<div class="widget-container adhoc-widget"  id="' + widget_id + '" data-widget-type="' + widget_type + '">');
        var widget_div = $('#' + widget_id)[widget_type]();
        $('div.widget-close').remove();
        $('ul.widget-action-options').children('li.dropdown').remove();
        $('li.clone-widget').remove();
        setTimeout(function() {
            $(widget_div).removeClass('transparent');
        }, 100);

    }

    function get_search_config(search_type, datasource, search_id) {
        var api_url = '{{ url('home') }}api/datasource/' + datasource + '/' + search_type + '/' + search_id;
        var get_search_object = new $.Deferred();
        var get_search_query = $.ajax({
            url: api_url,
            type: 'GET',
            dataType: 'json'
        }),
        chain = get_search_query.then(function(data) {
            return(data);
        });

        chain.done(function(data) {
            get_search_object.resolve(data);
        });

        return get_search_object.promise();

    }

    function display_search(widget_type, query_data, datasource) {

        console.log(query_data);
        if (query_data === "Not Allowed") {
            $('.container').append('<div id="not-allowed-popup" class="popup">' +
                '<h5>Not Allowed</h5><div class="popup-form-data">' +
                'You do not have permission to view this search' +
                '</div></div>'
            );
            $.magnificPopup.open({
                items: {
                    src: '#not-allowed-popup',
                    type: 'inline'
                },
                preloader: false,
                removalDelay: 300,
                mainClass: 'popup-animate',
                callbacks: {
                    open: function() {
                        $('.menubar').addClass('blur');
                        $('.container').addClass('blur');
                    },
                    close: function() {
                        $('.menubar').removeClass('blur');
                        $('.container').removeClass('blur');
                        window.location.href = "/adhoc/" + datasource;
                    },
                    afterClose: function() {
                        $('#not-allowed-popup').remove();
                    }
                }
            });
        } else if (query_data === "Not Found") {
            $('.container').append('<div id="not-found-popup" class="popup">' +
                    '<h5>Not Found</h5><div class="popup-form-data">' +
                    'The search was not found' +
                    '</div></div>'
            );
            $.magnificPopup.open({
                items: {
                    src: '#not-found-popup',
                    type: 'inline'
                },
                preloader: false,
                removalDelay: 300,
                mainClass: 'popup-animate',
                callbacks: {
                    open: function () {
                        $('.menubar').addClass('blur');
                        $('.container').addClass('blur');
                    },
                    close: function () {
                        $('.menubar').removeClass('blur');
                        $('.container').removeClass('blur');
                        window.location.href = "/adhoc/" + datasource;
                    },
                    afterClose: function () {
                        $('#not-found-popup').remove();
                    }
                }
            });
        } else if (query_data === "Expired") {
            $('.container').append('<div id="expired-popup" class="popup">' +
                '<h5>Expired</h5><div class="popup-form-data">' +
                'The shared search you requested has expired' +
                '</div></div>'
            );
            $.magnificPopup.open({
                items: {
                    src: '#expired-popup',
                    type: 'inline'
                },
                preloader: false,
                removalDelay: 300,
                mainClass: 'popup-animate',
                callbacks: {
                    open: function() {
                        $('.menubar').addClass('blur');
                        $('.container').addClass('bluer');
                    },
                    close: function() {
                        $('.menubar').removeClass('blur');
                        $('.container').removeClass('blur');
                        window.location.href = "/adhoc/" + datasource;
                    },
                    afterClose: function() {
                        $('#expired-popupe').remove();
                    }
                }
            });
        } else {
            var widget_id = 'widget' + md5(document._session.adhoc_username);

            $('#adhoc-container').append('<div class="widget-container adhoc-widget" id="' + widget_id + '" data-widget-type="' + widget_type + '">');
            var widget_div = $('#' + widget_id)[widget_type]({ query_data: query_data });
            $('div.widget-close').remove();
            $('ul.widget-action-options').children('li.dropdown').remove();
            $('li.clone-widget').remove();
            setTimeout(function () {
                $(widget_div).removeClass('transparent');
            }, 100);
        }
    }

</script>

{% endautoescape %}