{% autoescape 'js' %}

<script type="text/javascript">
    $('title').text('AdHoc Search - StatusWolf');

    var search_id = false;
    document._session = {};
    document._session.adhoc_username = '{{ username }}';
    document._session.adhoc_userid = '{{ user_id }}';

    {% if search_id %}
        search_id = '{{ search_id }}';
    {% endif %}
    {%  if search_type %}
        search_type = '{{ search_type }}';
    {% endif %}

    var adhoc_widget = eval({{ adhoc_widget_json|raw }});
    var widget_key = '{{ widget_type }}';
    var widget_type = adhoc_widget[widget_key].name.split('.')[1];
    var widget_datasource = '{{ datasource }}';
    var datasource_options = eval({{ datasource_options|raw }});

    $('document').ready(function() {
        $('#menu-placeholder').replaceWith({% include 'adhoc_menu.twig' %});
        console.log(datasource_options);
        $.each(datasource_options, function(i, datasource_name) {
            $('#change-datasource-menu-options').append('<li><a href="/adhoc/' + datasource_name + '"><span>' + datasource_name + '</span></a></li>');
        });
        if (typeof adhoc_widget[widget_key].dependencies !== "undefined") {
            if (typeof adhoc_widget[widget_key].dependencies.css !== "undefined") {
                $.each(adhoc_widget[widget_key].dependencies.css, function(i, css) {
                    if ($('link[src*="' + css + '"]').length === 0) {
                        console.log('loading stylesheet ' + css);
                        var widget_css = document.createElement('link');
                        widget_css.setAttribute('rel', 'stylesheet');
                        widget_css.setAttribute('href', '/Widgets/' + widget_key + '/css/' + css);
                        document.getElementsByTagName('head')[0].appendChild(widget_css);
                    }
                })
            }
            if (typeof adhoc_widget[widget_key].dependencies.js !== "undefined") {
                $.each(adhoc_widget[widget_key].dependencies.js, function(i, js) {
                    if ($('script[src*=" + js + "]').length === 0) {
                        loadScript(window.location.origin + '/static/js/lib/' + js, function() {
                            if (typeof search_type !== "undefined") {
                                if (typeof search_id !== "undefined") {
                                    $.when(get_search_config(search_type, widget_datasource.toLowerCase(), search_id)).then(
                                        function(data) {
                                            document._session.search_id = search_id;
                                            document._session.search_owner = data.search_owner;
                                            display_search(widget_type, data.search_config, widget_datasource);
                                        }
                                    )
                                }
                            } else {
                                add_widget(widget_type);
                            }
                        });
                    }
                });
            }
        }

        $.when(build_saved_search_menu()).then(function(data) {
            console.log(data);
            if (data[0] == 0 && data[1] > 0) {
                $('ul#load-saved-search-menu-options').append('<li id="full-search-list"><span>More...</span></li>');
            }
        });

        $('#adhoc-menu').on('click', 'li#full-search-list', function() {
            $.magnificPopup.open({
                items: {
                    src: '#search-list-popup',
                    type: 'inline'
                },
                preloader: false,
                mainClass: 'popup-animate',
                removalDelay: 300,
                callbacks: {
                    open: function() {
                        setTimeout(function() {
                            $('.container').addClass('blur');
                            $('.menubar').addClass('blur');
                        }, 150);
                    },
                    close: function() {
                        setTimeout(function() {
                            $('.container').removeClass('blur');
                            $('.menubar').removeClass('blur');
                        }, 150);
                    }
                }
            })
        });

        $('#save-search-menu-choice').magnificPopup({
            items: {
                src: '#save-search-popup',
                type: 'inline'
            },
            preloader: false,
            focus: '#save-search-title',
            removalDelay: 300,
            mainClass: 'popup-animate',
            callbacks: {
                open: function() {
                    setTimeout(function() {
                        $('.container').addClass('blur');
                        $('.menubar').addClass('blur');
                    }, 150);
                    if ($('text.graph-title').text().length > 1) {
                        $('input#save-search-title').attr('value', $('text.graph-title').text());
                    }
                },
                close: function() {
                    $('.container').removeClass('blur');
                    $('.menubar').removeClass('blur');
                }
            }
        });

        $('#save-search-popup').on('click', '#save-search-times-button', function() {
            statuswolf_button(this);
        }).on('click', '#public-search-button', function() {
            statuswolf_button(this);
        }).on('click', '#save-search-cancel-button', function() {
            $.magnificPopup.close();
        }).on('click', '#save-search-button', function() {
            if (typeof document._session.search_id !== "undefined") {
                if (document._session.adhoc_userid !== document._session.search_owner) {
                    delete document._session.search_id;
                }
            }
            save_search_handler(event, false);
        });

        $('div#confirm-save-search-popup').on('click', '#cancel-confirm-save-button', function() {
            $.magnificPopup.close();
        }).on('click', '#confirm-save-button', function() {
            document._session.search_id = $('input#existing-search-id').attr('value');
            save_search_handler(event, true);
        }).on('click', '#save-new-title-button', function() {
            $('input#save-search-title').attr('value', $('input#save-search-new-title').val());
            if (typeof document._session.search_id !== "undefined") {
                delete document._session.search_id;
            }
            save_search_handler(event)
        });

    });

    function add_widget(widget_type) {
        var widget_id = 'widget' + md5(document._session.adhoc_username);
        var widget;

        $('#adhoc-container').append('<div class="widget-container adhoc-widget"  id="' + widget_id + '" data-widget-type="' + widget_type + '">');
        var widget_div = $('#' + widget_id)[widget_type]();
        $('div.widget-close').remove();
        $('ul.widget-action-options').children('li.dropdown').remove();
        $('li.clone-widget').remove();
        $('div.saved-searches-menu').remove();
        setTimeout(function() {
            $(widget_div).removeClass('transparent');
        }, 100);

    }

    function build_saved_search_menu() {
        var menu_length = 15;
        var item_length = 0;
        var max;

        var api_url = '{{ url('home') }}api/search/saved';
        var get_search_list_object = new $.Deferred();
        var get_search_list_query = $.ajax({
            url: api_url,
            type: 'GET',
            dataType: 'json'
        }),
        chain = get_search_list_query.then(function(data) {
            return data;
        });

        chain.done(function(data) {
            console.log(data);
            var search_list_options = $('ul#load-saved-search-menu-options');
            var my_search_list_table = $('table#my-searches-list-table');
            var shared_search_list_table = $('table#shared-searches-list-table');
            var my_search_list = [];
            var shared_search_list = [];
            var my_search_columns = [
                {'sTitle': 'Title'},
                {'sTitle': 'Datasource'}
            ];
            var shared_search_columns = [
                {'sTitle': 'Title'},
                {'sTitle': 'Datasource'},
                {'sTitle': 'Owner'}
            ];

            search_list_options.empty();

            if ($.fn.dataTable.isDataTable('#my-searches-list-table')) {
                my_search_list_table.DataTable().destroy();
            }
            if ($.fn.dataTable.isDataTable('#shared-searches-list-table')) {
                shared_search_list_table.DataTable().destroy();
            }

            if (data.user_searches.length > 0) {
                search_list_options.append('<li class="menu-section"><span>My Searches</span></li>');
                max = (data.user_searches.length < menu_length ? data.user_searches.length : menu_length);
                for (i = 0; i < max ; i++) {
                    search_list_options.append('<li><a href="{{ url('home') }}adhoc/' + data.user_searches[i].datasource + '/saved/' + data.user_searches[i].id + '"><span>' + data.user_searches[i].title + '</span></a></li>');
                    menu_length--;
                }
                $.each(data.user_searches, function(i, search) {
                    my_search_list.push([
                        '<a href="{{  url('home')  }}adhoc/' + search.datasource + '/saved/' + search.id + '">' + search.title + '</a>',
                        search.datasource
                    ]);
                });
            }
            if (menu_length > 0 && data.shared_searches.length > 0) {
                search_list_options.append('<li class="divider"></li>');
                search_list_options.append('<li class="menu-section"><span>Shared Searches</span></li>');
                max = (data.shared_searches.length < menu_length ? data.shared_searches.length : menu_length);
                for (i = 0; i < max; i++) {
                    if (data.shared_searches[i].user_id === document._session.adhoc_userid) {
                        search_list_options.children('li.menu-section:last').after('<li><a href="{{ url('home') }}adhoc/' + data.shared_searches[i].datasource + '/saved/' + data.shared_searches[i].id +'"><span>' + data.shared_searches[i].title + '</span></a></li>');
                    } else {
                        search_list_options.append('<li><a href="{{ url('home') }}adhoc/' + data.shared_searches[i].datasource + '/saved' + data.shared_searches[i].id + '"><span>' + data.shared_searches[i].title + '</span></a></li>');
                    }
                    menu_length--;
                }
                $.each(data.shared_searches, function(i, search) {
                    if (search.user_id === document._session.adhoc_userid) {
                        shared_search_list.unshift([
                            '<a href="{{ url('home') }}adhoc/' + search.datasource + '/saved/' + search.id + '">' + search.title + '</a>',
                            search.datasource,
                            search.username
                        ]);
                    } else {
                        shared_search_list.push([
                                '<a href="{{ url('home') }}adhoc/' + search.datasource + '/saved/' + search.id + '">' + search.title + '</a>',
                            search.datasource,
                            search.username
                        ]);
                    }
                });
            }

            my_search_list_table.dataTable({
                'aaData': my_search_list,
                'aoColumns': my_search_columns,
                'lengthChange': false
            });
            shared_search_list_table.dataTable({
                'aaData': shared_search_list,
                'aoColumns': shared_search_columns,
                'lengthChange': false
            });
            // Remove the 'Search:' label from the search field and replace it
            // with placeholder text.
            $('#my-searches-list-table_filter').children('label').contents().filter(function() {
                return (this.nodeType == 3);
            }).remove();
            $('#my-searches-list-table_filter').children('label').children('input').attr('placeholder', 'Filter');
            $('#shared-searches-list-table_filter').children('label').contents().filter(function() {
                return (this.nodeType == 3);
            }).remove();
            $('#shared-searches-list-table_filter').children('label').children('input').attr('placeholder', 'Filter');

            var my_search_count = data.user_searches.length;
            var shared_search_count = data.shared_searches.length;
            item_length = my_search_count + shared_search_count;
            console.log('menu length: ' + menu_length + ', item length: ' + item_length);

            get_search_list_object.resolve([menu_length, item_length]);

        });

        return get_search_list_object.promise();
    }

    function get_search_config(search_type, datasource, search_id) {
        var api_url = '{{ url('home') }}api/search/saved/' + datasource + '/' + search_id;
        var get_search_object = new $.Deferred();
        var get_search_query = $.ajax({
            url: api_url,
            type: 'GET',
            dataType: 'json'
        }),
        chain = get_search_query.then(function(data) {
            return data;
        });

        chain.done(function(data) {
            get_search_object.resolve(data);
        });

        return get_search_object.promise();

    }

    function display_search(widget_type, query_data, datasource) {

        console.log(query_data);
        if (query_data === "Not Allowed") {
            $('.container').append('<div id="not-allowed-popup" class="popup">' +
                '<h5>Not Allowed</h5><div class="popup-form-data">' +
                'You do not have permission to view this search' +
                '</div></div>'
            );
            $.magnificPopup.open({
                items: {
                    src: '#not-allowed-popup',
                    type: 'inline'
                },
                preloader: false,
                removalDelay: 300,
                mainClass: 'popup-animate',
                callbacks: {
                    open: function() {
                        $('.menubar').addClass('blur');
                        $('.container').addClass('blur');
                    },
                    close: function() {
                        $('.menubar').removeClass('blur');
                        $('.container').removeClass('blur');
                        window.location.href = "/adhoc/" + datasource;
                    },
                    afterClose: function() {
                        $('#not-allowed-popup').remove();
                    }
                }
            });
        } else if (query_data === "Not Found") {
            $('.container').append('<div id="not-found-popup" class="popup">' +
                    '<h5>Not Found</h5><div class="popup-form-data">' +
                    'The search was not found' +
                    '</div></div>'
            );
            $.magnificPopup.open({
                items: {
                    src: '#not-found-popup',
                    type: 'inline'
                },
                preloader: false,
                removalDelay: 300,
                mainClass: 'popup-animate',
                callbacks: {
                    open: function () {
                        $('.menubar').addClass('blur');
                        $('.container').addClass('blur');
                    },
                    close: function () {
                        $('.menubar').removeClass('blur');
                        $('.container').removeClass('blur');
                        window.location.href = "/adhoc/" + datasource;
                    },
                    afterClose: function () {
                        $('#not-found-popup').remove();
                    }
                }
            });
        } else if (query_data === "Expired") {
            $('.container').append('<div id="expired-popup" class="popup">' +
                '<h5>Expired</h5><div class="popup-form-data">' +
                'The shared search you requested has expired' +
                '</div></div>'
            );
            $.magnificPopup.open({
                items: {
                    src: '#expired-popup',
                    type: 'inline'
                },
                preloader: false,
                removalDelay: 300,
                mainClass: 'popup-animate',
                callbacks: {
                    open: function() {
                        $('.menubar').addClass('blur');
                        $('.container').addClass('bluer');
                    },
                    close: function() {
                        $('.menubar').removeClass('blur');
                        $('.container').removeClass('blur');
                        window.location.href = "/adhoc/" + datasource;
                    },
                    afterClose: function() {
                        $('#expired-popupe').remove();
                    }
                }
            });
        } else {
            var widget_id = 'widget' + md5(document._session.adhoc_username);

            $('#adhoc-container').append('<div class="widget-container adhoc-widget" id="' + widget_id + '" data-widget-type="' + widget_type + '">');
            var widget_div = $('#' + widget_id)[widget_type]({ query_data: query_data });
            $('div.widget-close').remove();
            $('ul.widget-action-options').children('li.dropdown').remove();
            $('li.clone-widget').remove();
            setTimeout(function () {
                $(widget_div).removeClass('transparent');
            }, 100);
        }
    }

    function save_search_handler(event, confirmation) {
        var widget = $('.widget-container').data('sw-opentsdbwidget');
        var search_query = {};
        if ($('input#save-search-title').val().length < 1) {
            $('input#save-search-title').addClass('missing-value').focus();
        } else {
            var form_title = $('input#save-search-title').val();
            if (widget.query_data.title.length > 0) {
                if (widget.query_data.title !== form_title) {
                    widget.query_data.title = form_title;
                }
            } else {
                widget.query_data.title = form_title;
            }

            search_query = {
                search_config: {
                    user_id: document._session.adhoc_userid,
                    save_search_times: $('input#save-search-times').prop('checked') ? 1 : 0,
                    shared: $('input#public-search').prop('checked') ? 1 : 0,
                    confirmation: confirmation ? confirmation : false,
                    search: widget.query_data
                }
            };
            console.log('search id: ' + document._session.search_id);
            var search_id = typeof document._session.search_id === "undefined" ? md5(JSON.stringify(search_query)) : document._session.search_id;

            console.log('saving search');
            console.log(search_query);

            var api_url = '{{ url('home') }}api/search/saved/' + widget_datasource + '/' + search_id;
            $.ajax({
                url: api_url,
                type: 'POST',
                data: search_query,
                dataType: 'json'
            }).done(function(data) {
                console.log('save search result');
                console.log(data);
                if (typeof data.query_result !== "undefined") {
                    if (data.query_result === "Error") {
                        switch (data.query_info) {
                            case "Title":
                                $('div#confirmation-info').empty()
                                    .append('<span>A search with that name already exists, overwrite or change title and save as new search?</span>')
                                    .append('<div id="save-new-title-prompt"><input type="text" class="input" id="save-search-new-title" name="save-search-new-title" size="50"></div>');
                                $('input#save-search-new-title').attr('value', search_query.search_config.search.title);
                                $('div#save-new-title-prompt').append('<input type="hidden" id="existing-search-id" name="existing-search-id" value="' + data.query_data + '">');
                                $.magnificPopup.open({
                                    items: {
                                        src: '#confirm-save-search-popup',
                                        type: 'inline'
                                    },
                                    preloader: false,
                                    mainClass: 'popup-animate',
                                    removalDealy: 300
                                });
                                return;
                            case "ID":
                                $('div#confirmation-info').empty()
                                    .append('<span>A search with that ID already exists, overwrite?</span>')
                                    .append('<input type="hidden" id="existing-search-id" name="existing-search-id" value="' + document._session.search_id + '">')
                                    .append('<input type="hidden" id="save-search-new-title" name="save-search-new-title">');
                                $('input#save-search-new-title').val(search_query.search_config.search.title);
                                $.magnificPopup.open({
                                    items: {
                                        src: '#confirm-save-search-popup',
                                        type: 'inline'
                                    },
                                    preloader: false,
                                    mainClass: 'popup-animate',
                                    removalDelay: 300
                                });
                                return;
                            default:
                                $('div#failure-popup').empty()
                                    .append('<span>There was an error saving your search.</span>')
                                    .append('<br><span>' + data.query_info + '</span>');
                                $.magnificPopup.open({
                                    items: {
                                        src: '#failure-popup',
                                        type: 'inline'
                                    },
                                    preloader: false,
                                    mainClass: 'popup-animate',
                                    removalDelay: 300
                                });
                                return;
                        }
                    } else {
                        $.magnificPopup.open({
                            items: {
                                src: '#success-popup',
                                type: 'inline'
                            },
                            preloader: false,
                            mainClass: 'popup-animate',
                            removalDelay: 300
                        });
                        var url_search_id = window.location.pathname.split('/').pop();
                        if (url_search_id !== search_id) {
                            window.location.href = '/adhoc/' + widget_datasource + '/saved/' + search_id;
                        } else {
                            $.when(build_saved_search_menu()).then(
                                function(data) {
                                    if (data[0] == 0 && data[1] > 0) {
                                        $('ul#load-saved-search-menu-options').append('<li id="full-search-list"><span>More...</span></li>');
                                    }
                                }
                            );
                            setTimeout(function() {
                                $.magnificPopup.close();
                            }, 750);
                        }
                    }
                }
            });
        }

    }

</script>

{% endautoescape %}