{% autoescape 'js' %}

<script type="text/javascript">
    $('title').text('Dashboard - StatusWolf');
    $('div#dashboard-title').remove();

    var dashboard_id = false;
    document._session = {};
    document._session.dashboard_username = '{{ username }}';
    document._session.dashboard_userid = '{{ user_id }}';
    document._session.dashboard_columns = '{{ app.session.get('columns') ?: '2' }}';

    dependencies_event = new Event('dependencies_loaded');

    var widgets = eval({{ widgets_json|raw }});
    var widget_datasources = {};

    {% if dashboard_id %}
        dashboard_id = '{{ dashboard_id }}';
    {% endif %}
    {% if opentsdb_tags %}
        opentsdb_tags = eval({{ opentsdb_tags|raw }});
    {% endif %}

    $('document').ready(function() {
        $('#menu-placeholder').replaceWith({% include 'dashboard_menu.twig' %});
        $.each(widgets, function(widget_index, widget_data) {
            var widget_type = widget_data.name.split('.');
            widget_datasources[widget_type[1]] = widget_data.datasource;
            $('#add-widget-menu-options').append('<li onclick="add_widget(\'' + widget_type[1] + '\')"><span>' + widget_data.title + '</span></li>');
            console.log('Checking widget dependencies');
            if (typeof widget_data.dependencies !== "undefined") {
                if (typeof widget_data.dependencies.js !== "undefined") {
                    console.log('loading js dependencies for ' + widget_type[1]);
                    $.each(widget_data.dependencies.js, function(i, js) {
                        if ($('script[src*="' + js + '"]').length === 0) {
                            console.log('loading script ' + js);
//                            loadScript(window.location.origin + '/static/js/lib/' + js, function() {});
                            $.getScript('/static/js/lib/' + js)
                                .done(function(script, textStatus) {
                                    console.log(textStatus);
                                });
                        }
                    });
                }
                if (typeof widget_data.dependencies.css !== "undefined") {
                    console.log('loading css dependencies for ' + widget_type[1]);
                    $.each(widget_data.dependencies.css, function(i, css) {
                        if ($('link[src*="' + css + '"]').length === 0) {
                            console.log('loading stylesheet ' + css);
                            var widget_css = document.createElement('link');
                            widget_css.setAttribute('rel', 'stylesheet');
                            widget_css.setAttribute('href', '/Widgets/' + widget_index + '/css/' + css);
                            document.getElementsByTagName('head')[0].appendChild(widget_css);
                        }
                    })
                }
            }
        });
        document.dispatchEvent(dependencies_event);

        $('#dashboard-menu').after('<div class="dashboard-columns menubar-button info-tooltip" id="three-cols" title="Set 3-Column Layout" data-columns="3"><span class="menu-label">III</span></div>');
        $('#three-cols').css('right', $('div.login-button').outerWidth());
        $('#dashboard-menu').after('<div class="dashboard-columns menubar-button info-tooltip" id="two-cols" title="Set 2-Column Layout" data-columns="2"><span class="menu-label">II</span></div>');
        $('#two-cols').css('right', $('div.login-button').outerWidth() + $('#three-cols').outerWidth());
        $('#dashboard-menu').after('<div class="dashboard-columns menubar-button info-tooltip" id="one-col" title="Set 1-Column Layout" data-columns="1"><span class="menu-label">I</span></div>');
        $('#one-col').css('right', $('div.login-button').outerWidth() + $('#three-cols').outerWidth() + $('#two-cols').outerWidth());
        dashboard_column_toggle($('.dashboard-columns[data-columns="' + document._session.dashboard_columns + '"]'));

        $('.dashboard-columns.info-tooltip').tooltip({placement: 'bottom', delay: {show: 500, hide: 100}});

        $('.dashboard-columns').click(function() {
            dashboard_column_toggle(this)
        });

        $.when(build_dashboard_list()).then(
            function(data) {
                if (data[1] > data[0])
                {
                    $('#load-dashboard-menu-options').append('<li id="full-dashboard-list"><span>More...</span></li>');
                }
            }
        );

        $('#dashboard-menu').on('click', 'li#clear-dashboard-menu-choice', function() {
            window.location.href = '/dashboard/';
        }).on('click', 'li#full-dashboard-list', function() {
            $.magnificPopup.open({
                items: {
                    src: '#dashboard-list-popup',
                    type: 'inline'
                },
                preloader: false,
                removalDelay: 300,
                mainClass: 'popup-animate',
                callbacks: {
                    open: function() {
                        setTimeout(function() {
                            $('.container').addClass('blur');
                            $('.menubar').addClass('blur');
                        }, 150);
                    },
                    close: function() {
                        $('.container').removeClass('blur');
                        $('.menubar').removeClass('blur');
                    }
                }
            })
        });

        $('ul#load-dashboard-menu-options').on('click', 'li[data-dashboard-id]', function() {
            var target_dashboard = $(this).attr('data-dashboard-id');
            window.location.href = '/dashboard/' + target_dashboard;
        });

        $('#save-dashboard-menu-choice').magnificPopup({
            items: {
                src: '#save-dashboard-popup',
                type: 'inline'
            },
            preloader: false,
            focus: '#save-dashboard-title',
            removalDelay: 300,
            mainClass: 'popup-animate',
            callbacks: {
                open: function() {
                    setTimeout(function() {
                        $('.container').addClass('blur');
                        $('menubar').addClass('blur');
                    }, 150);
                },
                close: function() {
                    $('.container').removeClass('blur');
                    $('.menubar').removeClass('blur');
                }
            }
        });
    });

    document.addEventListener('dependencies_loaded', function() {
        if (dashboard_id) {
            console.log('Loading dashboard ' + dashboard_id);
            $.when(get_dashboard_config(dashboard_id)).then(
                function(data) {
                    document._session.dashboard_id = dashboard_id;
                    document._session.dashboard_owner = data.user_id;
                    build_dashboard(data);
                }
            )
        }
    });

    $('#save-dashboard-popup').on('click', '#shared-dashboard-button', function() {
        statuswolf_button(this);
    }).on('click', '#save-dashboard-cancel-button', function() {
        $.magnificPopup.close();
    }).on('click', '#save-dashboard-button', function() {
        if (document._session.dashboard_userid === document._session.dashboard_owner) {
            save_dashboard_handler(event, 0, document._session.dashboard_id);
        } else {
            save_dashboard_handler(event, 0);
        }
    });

    $('#save-search-popup').on('click', '#shared-search-button', function() {
        statuswolf_button(this);
    }).on('click', '#save-search-cancel-button', function() {
        $.magnificPopup.close();
    }).on('click', '#save-search-button', function() {
        var my_widget_element = $(this).parentsUntil('.dashboard-container').filter('.widget-container');
        console.log(my_widget_element);
        var my_widget = my_widget_element.data('sw-' + my_widget_element.attr('data-widget-type'));
        if (my_widget.search_id !== "undefined") {
            if (my_widget.search_owner !== document._session.dashboard_userid) {
                delete my_widget.search_id;
            }
        }
        save_search_handler(event, my_widget, false);
    });

    function dashboard_column_toggle(button) {
        if (!$(button).hasClass('pushed')) {
            $(button).toggleClass('pushed');
            $(button).siblings('.dashboard-columns').removeClass('pushed');
            var new_columns = $(button).attr('data-columns');
            if (new_columns !== document._session.dashboard_columns) {
                var session_data = {session_data_key: 'columns', session_data_value: new_columns};
                document._session.dashboard_columns = new_columns;
                $.ajax({
                    url: "{{ url('home') }}api/session/",
                    type: 'PUT',
                    data: session_data,
                    dataType: 'json',
                    done: function(data) {}
                });
                if ($('.widget-container').length > 0) {
                    $.each($('.widget-container'), function(i, widget_element) {
                        $('.widget-container')
                            .removeClass('cols-1')
                            .removeClass('cols-2')
                            .removeClass('cols-3')
                            .addClass('cols-' + document._session.dashboard_columns);
                        var widget_object = $(widget_element).data('sw-' + $(widget_element).attr('data-widget-type'));
                        if (typeof widget_object.svg !== "undefined") {
                            setTimeout(function() {
                                widget_object.resize_graph();
                            }, 350);
                        }
                    });
                }
            }
        }
    }

    function add_widget(widget_type) {
        var widget_id = 'widget' + md5(document._session.dashboard_username + new Date.now().getTime());
        var widget;

        $('#dashboard-container').append('<div class="widget-container cols-' + document._session.dashboard_columns + '" id="' + widget_id + '" data-widget-type="' + widget_type + '">');
        var widget_div = $('#' + widget_id)[widget_type]();
        setTimeout(function() {
            $(widget_div).removeClass('transparent');
        }, 100);
    }

    function build_dashboard_list() {
        var api_url = '{{ url('home') }}api/dashboard/saved/' + document._session.dashboard_userid;
        var menu_length = 15;
        var item_length = 0;

        var dashboard_menu = new $.Deferred();

        var dashboard_list_query = $.ajax({
            url: api_url,
            type: 'GET',
            dataType: 'json'
        }),
        chain = dashboard_list_query.then(function(data) {
            return(data);
        });

        chain.done(function(data) {
            var dashboard_options = $('ul#load-dashboard-menu-options'),
                my_dashboards_table = $('table#my-dashboards-list-table'),
                shared_dashboards_table = $('table#shared-dashboards-list-table'),
                my_dashboards_list = [],
                shared_dashboards_list = [],
                my_dashboards_columns = [
                    {'sTitle': 'Title'}
                ],
                shared_dashboards_columns = [
                    {'sTitle': 'Rank'},
                    {'sTitle': 'Title'},
                    {'sTitle': 'Owner'}
                ];

            dashboard_options.empty();

            if ($.fn.dataTable.isDataTable('#my-dashboards-list-table')) {
                my_dashboards_table.DataTable().destroy();
            }
            if ($.fn.dataTable.isDataTable('#shared-dashboards-list-table')) {
                shared_dashboards_table.DataTable().destroy();
            }

            if (data.user_dashboards.length > 0) {
                dashboard_options.append('<li class="menu-section"><span>My Searches</span></li>');
                max = (data.user_dashboards.length < menu_length ? data.user_dashboards.length : menu_length);
                for (i = 0; i < max; i++) {
                    dashboard_options.append('<li data-dashboard-id="' + data.user_dashboards[i].id + '"><span>' + data.user_dashboards[i]['title'] + '</span></li>');
                    menu_length--;
                }
                $.each(data.user_dashboards, function(i, dashboard) {
                    my_dashboards_list.push([
                        '<a href="{{ url('home') }}dashboard/' + dashboard.id + '">' + dashboard.title + '</a>'
                    ])
                });
            }

            if (menu_length > 0 && data.shared_dashboards.length > 0) {
                dashboard_options.append('<li class="divider">');
                dashboard_options.append('<li class="menu-section"><span>Shared Dashboards</span></li>');
                max = (data.shared_dashboards.length < menu_length ? data.shared_dashboards.length : menu_length);
                for (i = 0; i < max; i++) {
                    if (data.shared_dashboards[i]['user_id'] === document._session.dashboard_userid) {
                        dashboard_options.children('li.menu-section:last').after('<li data-dashboard-id="' + data.shared_dashboards[i].id + '"><span>' + data.shared_dashboards[i]['title'] + ' (' + data.shared_dashboards[i]['username'] + ')</span></li>');
                    } else {
                        dashboard_options.append('<li data-dashboard-id="' + data.shared_dashboards[i].id + '"><span>' + data.shared_dashboards[i]['title'] + ' (' + data.shared_dashboards[i]['username'] + ')</span></li>');
                    }
                    menu_length--;
                }
                $.each(data.shared_dashboards, function(i, shared) {
                    var rank = i + 1;
                    shared_dashboards_list.push([
                        rank,
                        '<a href="{{ url('home') }}dashboard/' + shared.id + '">' + shared.title + '</a>',
                        shared.username
                    ])
                });
            }

            if (my_dashboards_list.length > 0) {
                my_dashboards_table.dataTable({
                    'aaData': my_dashboards_list,
                    'aoColumns': my_dashboards_columns,
                    'lengthChange': false
                });
            }
            shared_dashboards_table.dataTable({
                'aaData': shared_dashboards_list,
                'aoColumns': shared_dashboards_columns,
                'lengthChange': false
            });
            // Remove the 'Search:' label from the search field and replace it
            // with placeholder text.
            $('#my-dashboards-list-table_filter').children('label').contents().filter(function() {
                return (this.nodeType == 3);
            }).remove();
            $('#my-dashboards-list-table_filter').children('label').children('input').attr('placeholder', 'Filter');
            $('#shared-dashboards-list-table_filter').children('label').contents().filter(function() {
                return (this.nodeType == 3);
            }).remove();
            $('#shared-dashboards-list-table_filter').children('label').children('input').attr('placeholder', 'Filter');

            var my_dash_count = typeof(data.user_dashboards !== "undefined") ? data.user_dashboards.length : 0;
            var shared_dash_count = typeof(data.shared_dashboards !== "undefined") ? data.shared_dashboards.length : 0;
            item_length = my_dash_count + shared_dash_count;

            dashboard_menu.resolve([menu_length, item_length]);
        });

        return dashboard_menu.promise();
    }

    function get_dashboard_config(dashboard_id) {
        var api_url = "{{ url('home') }}api/dashboard/config/" + dashboard_id;

        var dashboard_config = new $.Deferred();
        var dashboard_config_query = $.ajax({
            url: api_url,
            type: 'GET',
            dataType: 'json'
        }),
        chain = dashboard_config_query.then(function(data) {
            return(data);
        });

        chain.done(function(data) {
            dashboard_config.resolve(data);
        });

        return dashboard_config.promise();
    }

    function build_dashboard(dashboard_config) {
        if (typeof dashboard_config.error !== "undefined") {
            if (dashboard_config.error === "Not Allowed") {
                $('.container').append('<div id="not-allowed-popup" class="popup"><h5>Not Allowed</h5><div class="popup-form-data">You do not have permission to view this dashboard</div></div>');
                $.magnificPopup.open({
                    items: {
                        src: '#not-allowed-popup',
                        type: 'inline'
                    },
                    preloader: false,
                    removalDelay: 300,
                    mainClass: 'popup-animate',
                    callbacks: {
                        open: function() {
                            $('.menubar').addClass('blur');
                            $('.container').addClass('blur');
                        },
                        close: function() {
                            $('.menubar').removeClass('blur');
                            $('.container').removeClass('blur');
                            window.history.pushState("", "StatusWolf", "/dashboard");
                        },
                        afterClose: function() {
                            $('#not-allowed-popup').remove();
                        }
                    }
                });
            } else if (dashboard_config.error === "Not Found") {
                $('.container').append('<div id="not-found-popup" class="popup"><h5>Not Found</h5><div class="popup-form-data">The dashboard was not found</div></div>');
                $.magnificPopup.open({
                    items: {
                        src: '#not-found-popup',
                        type: 'inline'
                    },
                    preloader: false,
                    removalDelay: 300,
                    mainClass: 'popup-animate',
                    callbacks: {
                        open: function() {
                            $('.menubar').addClass('blur');
                            $('.container').addClass('blur');
                        },
                        close: function() {
                            $('.menubar').removeClass('blur');
                            $('.container').removeClass('blur');
                            window.history.pushState("", "StatusWolf", "/dashboard");
                        },
                        afterClose: function() {
                            $('#not-found-popup').remove();
                        }
                    }
                });
            }
        } else {
            if (typeof dashboard_config.columns !== "undefined" && dashboard_config.columns !== null) {
                if (dashboard_config.columns !== document._session.dashboard_columns) {
                    var button = $('.dashboard-columns[data-columns="' + dashboard_config.columns + '"]');
                    dashboard_column_toggle(button);
                }
            }

            var cols = document._session.dashboard_columns;

            $('title').text(dashboard_config.title + ' - StatusWolf');
            $('input#save-dashboard-title').val(dashboard_config.title);
            if (dashboard_config.shared == 1) {
                $('div#shared-dashboard-button').addClass('pushed');
                $('div#shared-dashboard-button').children('label').children('span.elegant-icons').removeClass('icon-close-alt red').addClass('icon-check-alt green');
                $('input#shared-dashboard').attr('checked', 'Checked').prop('checked', true);
            } else {
                $('div#shared-dashboard-button').removeClass('pushed');
                $('div#shared-dashboard-button').children('label').children('span.elegant-icons').removeClass('icon-check-alt green').addClass('icon-close-alt red');
                $('input#shared-dashboard').attr('checked', null).prop('checked', false);
            }

            $.each(dashboard_config.widgets, function(widget_id, query_data) {
                console.log('adding widget ' + widget_id);
                console.log(query_data);
                $('#dashboard-container').append('<div class="widget-container cols-' + document._session.dashboard_columns + '" id="' + widget_id + '" data-widget-type="' + query_data.widget_type + '">');
                if (query_data['widget_type'] === "opentsdbwidget") {
                    console.log('checking for OpenTSDB tags in the query');
                    if (typeof opentsdb_tags !== "undefined" && Object.keys(opentsdb_tags).length > 0) {
                        console.log(opentsdb_tags);
                        $.each(query_data.metrics, function(search_key, search_params) {
                            var search_tags = create_tag_object(search_params.tags || []);
                            $.each(opentsdb_tags, function(new_tag_key, new_tag_value) {
                                if (new_tag_value.length === 0) {
                                    if (typeof search_tags[new_tag_key] !== "undefined") {
                                        delete(search_tags[new_tag_key]);
                                    }
                                } else {
                                    search_tags[new_tag_key] = new_tag_value;
                                }
                            });
                            search_params.tags = create_tag_list(search_tags);
                        });
                    }
                }
                var new_widget = $('div#' + widget_id)[query_data['widget_type']](query_data.options, { query_data: query_data });
                console.log('adding new widget');
                console.log(new_widget);
                new_widget.on('search_saved', function(event, event_datasource) {
                    console.log('saved_search event triggered');
                    console.log(event);
                    if (event_datasource === "OpenTSDB") {
                        new_widget_object = new_widget.data('sw-' + query_data['widget_type']);
                        $.when(new_widget_object.build_saved_search_menu()).then(
                            function(data) {
                                if (data[1] > data[0]) {
                                    new_widget_object.sw_opentsdbwidget_savedsearchesmenu.children('ul.saved-searches-options')
                                        .append('<li class="full-saved-search-list"><span>More...</span></li>');
                                }
                            }
                        );
                    }
                });

                setTimeout(function() {
                    $(new_widget).removeClass('transparent');
                }, 100);
            });
        }
    }

    function create_tag_object(taglist) {
        var tag_map = {};
        $.each(taglist, function(index, value) {
            var map_entry = value.split('=');
            if (map_entry.length != 2) {
                if (map_entry[0].match(/\bno-/)) {
                    tag_map[(map_entry[0].split('-'))[1]] = '';
                }
            } else {
                tag_map[map_entry[0]] = map_entry[1];
            }
        });

        return tag_map;

    }

    function create_tag_list(tagmap) {
        var tag_list = [];
        $.each(tagmap, function(tag_key, tag_value) {
            tag_list.push(tag_key + '=' + tag_value);
        });

        return tag_list;

    }

    function save_dashboard_handler(event, confirmation, dashboard_id) {
        var dashboard_widgets = {};
        var query_data = {};
        var widget_list = $('.widget-container');
        var input_error = false;

        if (typeof confirmation === "undefined") {
            confirmation = false;
        }

        if (widget_list.length === 0) {
            alert('Blank dashboard, nothing to save...');
            $.magnificPopup.close();
            return;
        }

        if ($('#save-dashboard-title').val().length == 0) {
            $('#save-dashboard-title').css('border-color', 'red').css('background-color', 'rgb(255, 200, 200').focus();
            input_error = true;
        } else {
            input_error = false;
        }

        if (!input_error) {
            $.each(widget_list, function(i, widget) {
                var sw_widget = $(widget).data('sw-' + $(widget).attr('data-widget-type'));
                var widget_id = $(widget).attr('id');
                if (typeof sw_widget.query_data === "undefined") {
                    console.log('No query data defined for widget ' + widget_id);
                } else {
                    dashboard_widgets[widget_id] = sw_widget.query_data;
                    dashboard_widgets[widget_id]['widget_type'] = $(widget).attr('data-widget-type');
                    dashboard_widgets[widget_id]['options'] = sw_widget.options;
                }
            });
            if (typeof dashboard_id === "undefined") {
                dashboard_id = md5('dashboard' + document._session.dashboard_username + new Date.now().getTime());
            }
            query_data = {
                dashboard_config: {
                    confirmation: confirmation,
                    id: dashboard_id,
                    title: $('input#save-dashboard-title').val(),
                    shared: $('input#shared-dashboard').prop('checked') ? 1 : 0,
                    username: document._session.dashboard_username,
                    user_id: document._session.dashboard_userid,
                    columns: parseInt(document._session.dashboard_columns),
                    widgets: dashboard_widgets
                }
            };
            console.log(query_data);

            $.ajax({
                url: window.location.origin + '/api/dashboard/config/' + dashboard_id,
                type: 'POST',
                data: query_data,
                dataType: 'json'
            }).done(function(data) {
                if (typeof data.query_result !== "undefined") {
                    if (data.query_result === "Error") {
                        switch (data.query_info) {
                            case "Title":
                                $('#dashboard-confirmation-info').empty().append('<span>A dashboard with that name already exists, overwrite?</span>');
                                query_data.dashboard_config.id = data.query_data;
                                $.magnificPopup.open({
                                    items: {
                                        src: '#confirm-dashboard-save-popup',
                                        type: 'inline'
                                    },
                                    preloader: false,
                                    mainClass: 'popup-animate',
                                    removalDelay: 300
                                });
                                return;
                            case "ID":
                                $('#dashboard-confirmation-info').empty().append('<span>A dashboard with this ID already exists, overwrite?</span>');
                                $.magnificPopup.open({
                                    items: {
                                        src: '#confirm-dashboard-save-popup',
                                        type: 'inline'
                                    },
                                    preloader: false,
                                    mainClass: 'popup-animate',
                                    removalDelay: 300
                                });
                                return;
                            default:
                                $('#failure-info').empty()
                                    .append('<span>There was an error saving your dashboard, please try again later.</span>')
                                    .append('<br><span class="failure-error-message">' + data.query_info + '</span>');
                                $.magnificPopup.open({
                                    items: {
                                        src: '#failure-popup',
                                        type: 'inline'
                                    },
                                    preloader: false,
                                    mainClass: 'popup-animate',
                                    removalDelay: 300
                                });
                                return;
                        }
                    } else {
                        $.when(build_dashboard_list()).then(
                            function(data) {
                                if (data[1] > data[0])
                                {
                                    $('#load-dashboard-menu-options').append('<li id="full-dashboard-list"><span>More...</span></li>');
                                }
                            }
                        );
                        $('div#success-popup').children('div.popup-form-data').empty().text('Your dashboard has been saved.');
                        $.magnificPopup.open({
                            items: {
                                src: '#success-popup',
                                type: 'inline'
                            },
                            preloader: false,
                            mainClass: 'popup-animate',
                            removalDelay: 300
                        });
                        setTimeout(function() {
                            $.magnificPopup.close();
                        }, 750);
                    }
                }
            });
        }

        $('#confirm-dashboard-save-popup').on('click', '#cancel-confirm-dashboard-save-button', function() {
            $.magnificPopup.close();
        }).on('click', '#confirm-dashboard-save-button', function() {
            save_dashboard_handler(event, true, query_data.dashboard_config.id);
        });

    }

    function save_search_handler(event, my_widget, confirmation) {
        var search_query = {};
        if ($('input#save-search-title').val().length < 1) {
            $('input#save-search-title').addClass('missing-value').focus();
        } else {
            var form_title = $('input#save-search-title').val();
            if (my_widget.query_data.title.length > 0) {
                if (my_widget.query_data.title !== form_title) {
                    my_widget.query_data.title = form_title;
                }
            } else {
                my_widget.query_data.title = form_title;
            }
        }

        search_query = {
            search_config: {
                user_id: document._session.dashboard_userid,
                save_search_times: $('input#save-search-times').prop('checked') ? 1 : 0,
                shared: $('input#public-search').prop('checked') ? 1 : 0,
                confirmation: confirmation ? confirmation : false,
                search: my_widget.query_data
            }
        };

        var my_datasource = widget_datasources[my_widget.element.attr('data-widget-type')];
        var search_id = typeof my_widget.search_id === "undefined" ? md5(JSON.stringify(search_query)) : my_widget.search_id;
        var api_url = '{{ url('home') }}api/search/saved/' + my_datasource + '/' + search_id;
        $.ajax({
            url: api_url,
            type: 'POST',
            data: search_query,
            dataType: 'json'
        }).done(function(data) {
            if (typeof data.query_result !== "undefined") {
                if (data.query_result === "Error") {
                    switch (data.query_info) {
                        case "Title":
                            $('div#search-confirmation-info').empty()
                                .append('<span>A search with that name already exists, overwrite or change title and save as new search?</span>')
                                .append('<div id="save-new-title-prompt"><input type="text" id="save-search-new-title" class="input" name="save-search-new-title" size="50"></div>');
                            $('input#save-search-new-title').val(search_query.search_config.search.title);
                            $('div#save-new-title-prompt').append('<input type="hidden" id="existing-search-id" name="existing-search-id" value="' + data.query_data + '">');
                            $.magnificPopup.open({
                                items: {
                                    src: '#confirm-save-search-popup',
                                    type: 'inline'
                                },
                                prependTo: my_widget.element,
                                preloader: false,
                                mainClass: 'popup-animate',
                                removalDelay: 300
                            });
                            return;
                        case "ID":
                            $('div#search-confirmation-info').empty()
                                .append('<span>A search with this ID alerady exisits, overwrite?</span>')
                                .append('<input type="hidden" id="existing-search-id" name="existing-search-id" value="' + search_id + '">')
                                .append('<input type="hidden" id="save-search-new-title" name="save-search-new-title">');
                            $('input#save-search-new-title').attr('value', search_query.search_config.search.title);
                            $.magnificPopup.open({
                                items: {
                                    src: '#confirm-save-search-popup',
                                    type: 'inline'
                                },
                                prependTo: my_widget.element,
                                preloader: false,
                                mainClass: 'popup-animate',
                                removalDelay: 300
                            });
                            return;
                        default:
                            $('div#failure-popup').empty()
                                .append('<span>There was an error saving your search.</span>')
                                .append('<br><span>' + data.query_info + '</span>');
                            $.magnificPopup.open({
                                items: {
                                    src: '#failure-popup',
                                    type: 'inline'
                                },
                                prependTo: my_widget.element,
                                preloader: false,
                                mainClass: 'popup-animate',
                                removalDelay: 300
                            });
                            return
                    }
                } else {
                    $('div#success-popup').children('div.popup-form-data').empty().text('Your search has been saved.');
                    $.magnificPopup.open({
                        items: {
                            src: '#success-popup',
                            type: 'inline'
                        },
                        prependTo: my_widget.element,
                        preloader: false,
                        mainClass: 'popup-animate',
                        removalDelay: 300
                    });
                    $('div.widget-container').trigger('search_saved', my_datasource);
                    setTimeout(function() {
                        $.magnificPopup.close();
                    }, 750);
                }
            }
        });
        $('#confirm-save-search-popup').on('click', '#cancel-confirm-search-save-button', function() {
            $.magnificPopup.close();
        }).on('click', '#confirm-search-save-button', function() {
            save_search_handler(event, my_widget, true);
        });
    }

</script>

{% endautoescape %}